body,p,ul{
    margin: 0;
    padding: 5px;
}

html{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}
body{
    text-align: center;
    color: black;
  background-image:url(background.jpg) ;
  background-size: 1000px;
  background-attachment: fixed;
}

p{
    backdrop-filter: contrast(0.5);
}

header{
    background-color: rgb(16, 16, 209);
    color: aliceblue;
    padding: 20px;
    border: 2px solid black;
    text-align: center;
    margin: 10px;
}

#services{
    background-color: darkblue;
    text-align: center;
    border: 2px solid black;
    color: aliceblue;
    margin: 100px;

}

header h1{
    margin: 0;
}
h2{
    font-size: 50px;
    color: rgb(239, 239, 0);
}

header ul{
    list-style: none;
}

header ul li{
    display: inline;
    margin-right: 15px;
}

li a:hover{
    color: rgb(254, 250, 0);
}

li:hover{
      color: yellow;
}

.ccje{
    background-color: darkblue;
    text-align: center;
    border: 2px solid black;
    color: aliceblue;
    padding: 20px;
    margin: 100px;

}

.it{
    background-color: darkblue;
    text-align: center;
    border: 2px solid black;
    color: aliceblue;
    padding: 20px;
    margin: 100px;

}

header a{
    text-decoration: none;
    color: aliceblue;
}

#AboutUs img{
    border-radius: 50px;
}

figure{
    display: inline-block;
    margin: 20px;
    text-align: center;
}

footer{
    padding: 20px;
    text-align: center;
}

#contactus{
    color: aliceblue;
    text-align: center;
    background-color: darkblue;
    border: 2px solid black;
    padding: 20px;
    margin: 100px;

}

@media only screen and(max-widt: 768px) {
    figure{
       width: 100%;
}
}

a[href="#top"]{
    display: blocl;
    text-align: right;
    background-color: rgb(13, 29, 209);
    color: aliceblue;
    position: fixed;
    bottom: 20px;
    right: 20px;
}


